# /etc/systemd/system/yiyaseed.service

[Unit]
Description=Yiya Coin DNS Seed Service - mainnet
After=network.target

[Service]
ExecStart=/usr/local/bin/dnsseed -h yiya.stance-defense.org -n 209.250.255.250 -m yiya-dev@protonmail.com -p 53
KillMode=process
Restart=always
## security
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target